* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    border: none;
}

a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: var(--black);
}

.header-page-nav-burguer-button {
    cursor: pointer;
    display: none;
}