:root {
    --white: #fff;
    --black: #000;
    --blue-100: #73ccf5;
    --blue-300: #3C9ECD;
    --blue-400: #00c8ff;
    --blue-500: #0b79ac;
    --gray-100: #f6f6f6;
    --gray-300: #838383;
    --gray-500: #313131;
}